<div class="container" style="margin-left: 90px;">
    <div class="block-header" style="margin-top: 70px;">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Search Order'" [active_item]="'Search order'">
        </app-breadcrumb>
    </div>

    <div class="row" style="margin-top: 130px;">
        <div class="col col-sm-7">
            <div>
                <label class="form-label">List of orders</label>
            </div>
            <mat-form-field style="display: inline;">
                <mat-label>Select</mat-label>
                <mat-select [(value)]="selectedOrder" (selectionChange)="onOrderSelection($event.value)">
                    <mat-option (click)="orderOption(order)" *ngFor="let order of orders" [value]="order">{{ order.data.orderId}} / {{ order.data.clientName ? order.data.clientName : order.data.company }} / {{order.data.startDate}} / {{order.data.place}}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- <button (click)="navegar()">cualquier cosa</button> -->

            <div class="row">
                <div>
                    <label class="form-label">Order number</label>
                </div>
                <mat-form-field style="display: inline-flex; width: 30%;">
                    <mat-label>Input</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" (click)="navegar()" [disabled]="!selectedOrder">Search</button>
            </div>
        </div>
        <div class="col col-sm-5" style="text-align: center;">
            <img src="assets/images/search-order.png" style="height: 300px;" alt="">
        </div>
        <p style="color:#414244;">You will only be able to view the open orders in which you are a supervisor.</p>
    </div>
</div>