.label-form {
    font-size: 20px;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* Asegura que esté en el frente */
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #3498db;
    /* Cambia el color del spinner si es necesario */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    /* Animación de giro */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

//Visualización en pantallas pequeñas.
@media (max-width: 576px) {
    .ocultarImg {
        display: none;
        /* Ocultar la columna con la imagen en dispositivos móviles */
    }
    .marginContainer {
        margin-left: 20px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        width: 90%;
    }
}