<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <!--<img [src]='employees.img' alt="avatar"> -->
                <div class="modal-about">
                    {{dialogTitle}}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="employeesForm" (ngSubmit)="submit">
            <div class="row">

                <!--
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>In</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="in">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="employeesForm.get('in')?.hasError('required')">
                            Please select date
                        </mat-error>
                    </mat-form-field>
                </div>
                -->
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>FirstName</mat-label>
                        <input matInput formControlName="firstName" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
                        <mat-error *ngIf="employeesForm.get('FirsName')?.hasError('required')">
                            FirstName is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>LastName</mat-label>
                        <input matInput formControlName="lastName" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
                        <mat-error *ngIf="employeesForm.get('LastName')?.hasError('required')">
                            LastName is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <!--<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>department</mat-label>
                        <input matInput formControlName="department" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>business_center</mat-icon>
                        <mat-error *ngIf="employeesForm.get('department')?.hasError('required')">
                            Department is required
                        </mat-error>
                    </mat-form-field>
                </div> -->
            </div>
            <div class="row">

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Mobile</mat-label>
                        <input matInput formControlName="phone" type="number">
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>phone</mat-icon>
                        <mat-error *ngIf="employeesForm.get('phone')?.hasError('required')">
                            Mobile is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="mail" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>email</mat-icon>
                        <mat-error *ngIf="employeesForm.get('email')?.hasError('required') || employeesForm.get('email')?.touched">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>
                </div>

                <!--<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>role</mat-label>
                        <input matInput formControlName="role" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>flag</mat-icon>
                        <mat-error *ngIf="employeesForm.get('role')?.hasError('required')">
                            role is required
                        </mat-error>
                    </mat-form-field>
                </div> -->
                <!--<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Degree</mat-label>
                        <input matInput formControlName="degree" required>
                        <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>school</mat-icon>
                        <mat-error *ngIf="employeesForm.get('degree')?.hasError('required')">
                            Department is required
                        </mat-error>
                    </mat-form-field>
                </div> -->
            </div>

            <hr style="color:#004676; width:80%; margin: 20px auto">

            <!--TABLA POSICIONES-->
            <div class="row clearfix" style="margin-right: 0px; margin-left: 0px">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2 style="color: #1A202E;">Check a Position</h2>
                        </div>
                        <ng-scrollbar style="height: 210px" visibility="hover">
                            <div class="tableBody">
                                <div class="responsive_table">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="column-check">Position</th>
                                                <th class="column-check">Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let position of positions | keyvalue">
                                                <!-- <ng-container *ngFor="let item of dataItems; let i = index">-->
                                                <tr *ngFor="let hour of position.value.hours | keyvalue">
                                                    <!--<tr *ngIf="item.m !== 0"> -->
                                                    <td class="column-check"> {{ position.key }}</td>
                                                    <!--{{ item.position }} -->
                                                    <td class="column-check"> {{ hour.key }} </td>
                                                    <!--{{ item.hourFrom }} -->
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </ng-scrollbar>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row" align="end">
                        <button mat-raised-button color="primary" [disabled]="!employeesForm.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
                        <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>