.tarjeta {
    margin: 20px 0 20px 0;
    width: 80%;
    color: #5B626B;
    font-weight: 500;
    font-size: medium;
}

.tarjeta-pequena {
    margin: 20px 0 20px 0;
    //width: 50%;
    color: white;
    font-weight: 500;
    background: linear-gradient(135deg, #051e2f 60%, rgb(30, 168, 255) 100%);
}

.tarjeta-indicadores {
    margin: auto;
    width: 20%;
}

.container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.column {
    padding: 10px;
    vertical-align: super;
}

.sub-column {
    display: inline-block;
    grid-template-columns: repeat(2, 1fr);
    //grid-template-columns: 1fr;
    gap: 10px;
    //padding: 10px;
}

.sub-sub-column {
    display: grid;
    //padding: 20px;
}

.column-check {
    text-align: center;
}

.separador {
    color: #004676;
    width: 50%;
    margin: 50px auto 70px auto;
}

@media (max-width: 500px) {
    .content-block {
        width: 100%;
        padding: 10px;
    }
    .container {
        grid-template-columns: 1fr 1fr;
        padding-left: 20px;
        padding-right: 20px;
    }
    .sub-columns {
        grid-template-columns: repeat(2, 1fr);
    }
    .contenedorSM {
        padding-left: 5px !important;
        padding-right: 5px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .separador {
        color: #004676;
        width: 50%;
        margin: 3px auto 30px auto;
    }
    .ocultarMovil {
        display: none;
    }
}