.tarjeta {
    margin: 20px 0 20px 0;
    width: 80%;
    color: #5B626B;
    font-weight: 500;
    font-size: medium;
}


.tarjeta-pequena {
    margin: 20px 0 20px 0;
    //width: 50%;
    color: white;
    font-weight: 500;
    background: linear-gradient(135deg, #051e2f 60%, rgb(30, 168, 255) 100%);
}

.tarjeta-indicadores {
    margin: auto;
    width: 20%;
}

.container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.column {
    //padding: 10px;
    vertical-align: super;
    margin-top: -20px
}

.sub-column {
    display: inline-block;
    grid-template-columns: repeat(2, 1fr);
    //grid-template-columns: 1fr;
    gap: 10px;
    //padding: 10px;
}

.sub-sub-column {
    display: grid;
    //padding: 20px;
}

.column-check {
    text-align: center;
}

.separador {
    color: #004676;
    width: 50%;
    margin: 50px auto 70px auto;
}

//----------------------------
.content {
    position: relative;
  }
  .home-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px; /* Ajusta la distancia desde arriba según sea necesario */
    margin-right: 20px; /* Ajusta la distancia desde la derecha según sea necesario */
  }
  
  .home-icon {
    width: 2rem; /* Ajusta el tamaño del icono según sea necesario */
    height: 2rem; /* Ajusta el tamaño del icono según sea necesario */
    margin-right: 10px; /* Ajusta el espacio entre el icono y el texto */
    color: black;
  }
  
  .home-text {
    font-size: 1.2rem; /* Ajusta el tamaño del texto según sea necesario */
  }
  
  
  

@media (max-width: 500px) {
    .content-block {
        width: 100%;
        padding: 10px;
    }
    .container {
        grid-template-columns: 1fr;
        padding-left: 20px;
        padding-right: 20px;
    }
    .sub-columns {
        grid-template-columns: repeat(2, 1fr);
    }
    .contenedorSM {
        padding-left: 5px !important;
        padding-right: 5px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .separador {
        color: #004676;
        width: 50%;
        margin: 3px auto 30px auto;
    }
    /* .ocultarMovil {
        display: none;
    }
    .ocultarMovilE {
        display: block; 
    } */
    
    
    .sub-sub-column {
        display: grid;
        margin-top: -25px;
    }
}

@media (max-width: 500px) {
    /* Estilos para la vista móvil */
    .ocultarMovil {
        display: none;
    }
    .ocultarMovilE {
        display: block; /* Mostrar en vista móvil */
    }
}

@media (min-width: 501px) {
    /* Estilos para la vista web */
    .ocultarMovil {
        display: block; /* Mostrar en vista web */
    }
    .ocultarMovilE {
        display: none;
    }
}

/* Ajustes adicionales según sea necesario */
.block-header {
    padding: 10px; /* Ajusta el padding u otros estilos según sea necesario para la versión móvil */
}

