.tarjeta {
    margin: 20px 0 20px 0;
    width: 80%;
    color: #5B626B;
    font-weight: 500;
    font-size: medium;
}

.tarjeta-pequena {
    margin: 20px 0 20px 0;
    //width: 50%;
    color: white;
    font-weight: 500;
    background: linear-gradient(135deg, #051e2f 60%, rgb(30, 168, 255) 100%);
}

.tarjeta-indicadores {
    margin: auto;
    width: 20%;
}

.tarjeta-indicadores-movil {
    margin: 0px;
    width: 18%;
    padding: 1px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.column {
    padding: 10px;
    vertical-align: super;
}

.sub-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    //grid-template-columns: 1fr;
    gap: 10px;
    //padding: 10px;
    margin-top: -70px;
    margin-bottom: 0px;
}

.sub-sub-column {
    display: grid;
    padding: 20px;
}

.column-check {
    text-align: center;
}

.rows {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.colorStatus {
    color: rgb(255, 145, 0);
}

.clientName {
    font-size: large;
    color: #1A202E;
    font-weight: 600;
    font-size: 23px;
}

.separador {
    color: #004676;
    width: 50%;
    margin: -20px auto 25px auto;
}

.noDisplay-in-cellPhone {
    display: none;
}

.card-icon-mobile {
    font-size: 40px;
    width: 110px;
    height: 50px;
    text-shadow: 3px 7px rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.card-title-mobile {
    font-size: 16px;
}

.card-data-mobile {
    font-size: 15px;
}

.card-large {
    margin-top: -50px
}

.custom-tooltip {
    margin-top: -10px;
}

.q-positions {
    display: none;
}

.column-border {
    border-right: 1px solid rgb(153, 153, 153);
}

.table-container {
    max-height: 350px;
    /* Set the maximum height for vertical scrolling */
    overflow-y: auto;
    /* Enable vertical scrolling */
    overflow-x: auto;
    /* Enable horizontal scrolling */
    white-space: nowrap;
    /* Prevent table cell content from wrapping */
}

@media (min-width: 767px) {
    .content-block {
        width: 100%;
        padding: 10px;
    }
    .container {
        grid-template-columns: 1fr 1fr;
        padding-left: 100px;
        padding-right: 100px;
    }
    .sub-columns {
        grid-template-columns: repeat(2, 1fr);
    }
    .contenedorSM {
        padding-left: 5px !important;
        padding-right: 5px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .separador {
        color: #004676;
        width: 50%;
        margin: 50px auto 70px auto;
    }
    .card-large {
        margin-top: -30px
    }
    .q-positions {
        display: flex;
    }
    .table-container {
        max-height: 350px;
        /* Set the maximum height for vertical scrolling */
        overflow-y: auto;
        /* Enable vertical scrolling */
        overflow-x: auto;
        /* Enable horizontal scrolling */
        white-space: nowrap;
        /* Prevent table cell content from wrapping */
    }
    .noDisplay-in-desktop-device {
        display: none;
    }
}