.tarjeta {
    margin: 20px 0 20px 0;
    width: 80%;
    color: #5B626B;
    font-weight: 500;
    font-size: medium;
}

.tarjeta-pequena {
    margin: 20px 0 20px 0;
    //width: 50%;
    color: white;
    font-weight: 500;
    background: linear-gradient(135deg, #051e2f 60%, rgb(30, 168, 255) 100%);
}

.tarjeta-indicadores {
    margin: auto;
    width: 20%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

//.content-block {
//  width: 100%;
//padding-left: 25px;
//padding-right: 25px;
//}
.column {
    padding: 10px;
    vertical-align: super;
}

.sub-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    //grid-template-columns: 1fr;
    gap: 10px;
    //padding: 10px;
    margin-top: -70px;
    margin-bottom: 0px;
}

.sub-sub-column {
    display: grid;
    padding: 20px;
}

.column-check {
    text-align: center;
}

.rows {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.colorStatus {
    color: rgb(255, 145, 0);
}

.clientName {
    font-size: large;
    color: #1A202E;
    font-weight: 600;
    font-size: 23px;
}

.separador {
    color: #004676;
    width: 50%;
    margin: -20px auto 25px auto;
}

.noDisplay-in-cellPhone {
    display: none;
}

@media (min-width: 767px) {
    .content-block {
        width: 100%;
        padding: 10px;
    }
    .container {
        grid-template-columns: 1fr 1fr;
        padding-left: 100px;
        padding-right: 100px;
    }
    .sub-columns {
        grid-template-columns: repeat(2, 1fr);
    }
    .contenedorSM {
        padding-left: 5px !important;
        padding-right: 5px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .separador {
        color: #004676;
        width: 50%;
        margin: 50px auto 70px auto;
    }
    .noDisplay-in-desktop-device {
        display: none;
    }
}