<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Dashboard'" [active_item]="'Dashboard'"></app-breadcrumb>
            <!--<app-breadcrumb [title]="'Dashboard'" [items]="['Search order']" [active_item]="'Dashboard'"></app-breadcrumb>-->
        </div>

        <div class="container">
            <div class="column" style="padding-top: 40px;">
                <div class="card">
                    <div class="card-statistic-3">
                        <div class="card-icon card-icon-large"><i class="fa fa-globe"></i></div>
                        <div class="tarjeta">
                            <span style="font-size: large; color: #1A202E; font-weight: 700;">{{dataOrder.data.clientName}}</span>
                            <br/> <br/> {{dataOrder.data.place}}
                            <br/> <br/> {{dataOrder.data.address}}
                            <br/> <br/> {{dataOrder.data.city}} {{dataOrder.data.state}} {{dataOrder.data.zipcode}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="column" style="margin: auto;">
                <div class="sub-column">
                    <div class="sub-sub-column">
                        <mat-card class="tarjeta-pequena">
                            <mat-card-content>
                                <mat-card-title>Order number</mat-card-title>
                                {{dataOrder.data.orderId}}
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="sub-sub-column">
                        <mat-card class="tarjeta-pequena">
                            <mat-card-content>
                                <mat-card-title>Event date</mat-card-title>
                                {{dataOrder.data.startDate}}
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>

        <hr style="color: #004676; width: 50%; margin: 70px auto 70px auto; " />

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="text-align: center;">
            <mat-card class="" style="background-color: #1A202E; color: white; font-size: large; border-radius: 8px;">
                <mat-card-content>
                    <mat-card-title>E M P L O Y E E S</mat-card-title>
                </mat-card-content>
            </mat-card>
        </div>
        <br/>
        <div class="row ">
            <div class="col-xl-3 col-lg-6 tarjeta-indicadores">
                <div class="card l-bg-green-dark">
                    <div class="card-statistic-3" style="padding-bottom: 70px">
                        <div class="card-icon card-icon-large"><i class="fa fa-briefcase"></i></div>
                        <div class="card-content">
                            <h4 class="card-title">Requested</h4>
                            <span class="data-1" style="padding-bottom: 50px;">{{totalRequest}}</span>

                            <!--<mat-progress-bar mode="determinate" class="progress-m progress-round progress-shadow orange-progress mt-2 mb-2" value="40">
                            </mat-progress-bar> -->
                            <!--<p class="mb-0 text-sm">
                                <span class="mr-2"><i class="fa fa-arrow-up"></i> 10%</span>
                                <span class="text-nowrap"> Since last month</span>
                            </p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 tarjeta-indicadores">
                <div class="card l-bg-cyan-dark">
                    <div class="card-statistic-3">
                        <div class="card-icon card-icon-large"><i class="fa fa-check"></i></div>
                        <div class="card-content">
                            <h4 class="card-title">Confirmed</h4>
                            <span class="data-1">{{totalConfirmed}}</span>
                            <mat-progress-bar mode="determinate" class="progress-m progress-round progress-shadow orange-progress mt-2 mb-2" value={{porcentajeConfirmed}}>
                            </mat-progress-bar>
                            <!-- <p class="mb-0 text-sm">
                                <span class="mr-2"><i class="fa fa-arrow-up"></i> 04%</span>
                                <span class="text-nowrap"> Since last month</span>
                            </p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 tarjeta-indicadores">
                <div class="card l-bg-purple-dark">
                    <div class="card-statistic-3">
                        <div class="card-icon card-icon-large"><i class="fa fa-check"></i></div>
                        <div class="card-content">
                            <h4 class="card-title">CheckIn</h4>
                            <span class="data-1">{{checkIn}}</span>
                            <mat-progress-bar mode="determinate" class="progress-m progress-round progress-shadow green-progress mt-2 mb-2" value={{porcentajeCheckIn}}>
                            </mat-progress-bar>
                            <!--<p class="mb-0 text-sm">
                                <span class="mr-2"><i class="fa fa-arrow-up"></i> 23%</span>
                                <span class="text-nowrap"> Since last month</span>
                            </p>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 tarjeta-indicadores">
                <div class="card l-bg-orange-dark">
                    <div class="card-statistic-3">
                        <div class="card-icon card-icon-large"><i class="fa fa-check"></i></div>
                        <div class="card-content">
                            <h4 class="card-title">CheckOut</h4>
                            <span class="data-1">{{checkOut}}</span>
                            <mat-progress-bar mode="determinate" class="progress-m progress-round progress-shadow sky-progress mt-2 mb-2" value={{porcentajeCheckOut}}>
                            </mat-progress-bar>
                            <!--<p class="mb-0 text-sm">
                                <span class="mr-2"><i class="fa fa-arrow-down"></i> 06%</span>
                                <span class="text-nowrap"> Since last month</span>
                            </p>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 tarjeta-indicadores">
                <div class="card l-bg-cyan-dark">
                    <div class="card-statistic-3">
                        <div class="card-icon card-icon-large"><i class="fa fa-check"></i></div>
                        <div class="card-content">
                            <h4 class="card-title">Noshow</h4>
                            <span class="data-1">{{noShow}}</span>
                            <mat-progress-bar mode="determinate" class="progress-m progress-round progress-shadow violet-progress mt-2 mb-2" value={{porcentajeNoshow}}>
                            </mat-progress-bar>
                            <!--<p class="mb-0 text-sm">
                                <span class="mr-2"><i class="fa fa-arrow-down"></i> 06%</span>
                                <span class="text-nowrap"> Since last month</span>
                            </p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row clearfix">
            
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Employee Performance</h2>
                    </div>
                    <div class="body">
                        <div class="recent-report__chart">
                            <apx-chart [series]="lineChartOptions.series!" [chart]="lineChartOptions.chart!" [xaxis]="lineChartOptions.xaxis!" [stroke]="lineChartOptions.stroke!" [colors]="lineChartOptions.colors!" [dataLabels]="lineChartOptions.dataLabels!" [legend]="lineChartOptions.legend!"
                                [tooltip]="lineChartOptions.tooltip!" [markers]="lineChartOptions.markers!" [grid]="lineChartOptions.grid!" [yaxis]="lineChartOptions.yaxis!" [title]="lineChartOptions.title!" [fill]="lineChartOptions.fill!">
                            </apx-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Country Wise Clients</h2>
                    </div>
                    <div class="body">
                        <div id="chart">
                            <apx-chart [series]="pieChartOptions.series2!" [chart]="pieChartOptions.chart!" [labels]="pieChartOptions.labels!" [responsive]="pieChartOptions.responsive!" [dataLabels]="pieChartOptions.dataLabels!" [legend]="pieChartOptions.legend!" class="apex-pie-center">
                            </apx-chart>
                        </div>
                        <div class="table-responsive m-t-15">
                            <table class="table align-items-center">
                                <tbody>
                                    <tr>
                                        <td><i class="fa fa-circle col-cyan msr-2"></i> India</td>
                                        <td>23</td>
                                        <td class="col-green">+32%</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-circle col-blue msr-2"></i>USA</td>
                                        <td>32</td>
                                        <td class="col-green">+12%</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-circle col-orange msr-2"></i>Shrilanka</td>
                                        <td>12</td>
                                        <td class="col-orange">-12%</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-circle col-green msr-2"></i>Australia</td>
                                        <td>32</td>
                                        <td class="col-green">+3%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <hr style="color: #004676; width: 50%; margin: 50px auto 70px auto; " />

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="padding-right: 0px; text-align: center;">
            <mat-card class="" style="background-color: #1A202E; color: white; font-size: large; border-radius: 8px;">
                <mat-card-content>
                    <mat-card-title>P O S I T I O N S</mat-card-title>
                </mat-card-content>
            </mat-card>
        </div>
        <br/>
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12" style="padding-right: 0px; text-align: center;">
            <mat-card class="" style="background: linear-gradient(135deg, #051e2f 60%, rgb(30, 168, 255) 100%); color: white; font-size: medium; border-radius: 8px;">
                <mat-card-content>
                    <mat-card-title>Required: {{totalRequeridos}}</mat-card-title>
                </mat-card-content>
            </mat-card>
        </div>
        <br/>
        <div class="row clearfix" style="margin-right: 0px; margin-left: 0px">

            <!--<div class="col-xl-3 col-lg-6">
                <div class="card l-bg-orange-dark" >
                    <div class="card-statistic-3">
                        <div class="card-icon card-icon-large"></div>
                        <div class="card-content">
                            <h4 class="card-title">Required positions</h4>
                            <span class="data-1">3</span>
                            
                        </div>
                    </div>
                </div>
            </div> -->
            <!--<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                 <div class="card">
                    <div class="header">
                        <h2>Notice Board</h2>
                        <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
                <mat-icon>more_vert</mat-icon>
              </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                  <mat-icon>add_circle_outline</mat-icon>
                  <span>Add</span>
                </button>
                            <button mat-menu-item disabled>
                  <mat-icon>delete_outline</mat-icon>
                  <span>Delete</span>
                </button>
                            <button mat-menu-item>
                  <mat-icon>refresh</mat-icon>
                  <span>Refresh</span>
                </button>
                        </mat-menu>
                    </div>
                    <div class="body">
                        <ng-scrollbar style="height: 380px" visibility="hover">
                            <div class="recent-comment">
                                <div class="notice-board">
                                    <div class="table-img">
                                        <img class="notice-object" src="assets/images/user/user6.jpg" alt="...">
                                    </div>
                                    <div class="notice-body">
                                        <h6 class="notice-heading col-green">Airi Satou</h6>
                                        <p>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam.</p>
                                        <small class="text-muted">7 hours ago</small>
                                    </div>
                                </div>
                                <div class="notice-board">
                                    <div class="table-img">
                                        <img class="notice-object" src="assets/images/user/user4.jpg" alt="...">
                                    </div>
                                    <div class="notice-body">
                                        <h6 class="notice-heading color-primary col-indigo">Sarah Smith</h6>
                                        <p>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam.</p>
                                        <p class="comment-date">1 hour ago</p>
                                    </div>
                                </div>
                                <div class="notice-board">
                                    <div class="table-img">
                                        <img class="notice-object" src="assets/images/user/user3.jpg" alt="...">
                                    </div>
                                    <div class="notice-body">
                                        <h6 class="notice-heading color-danger col-cyan">Cara Stevens</h6>
                                        <p>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam.</p>
                                        <div class="comment-date">Yesterday</div>
                                    </div>
                                </div>
                                <div class="notice-board no-border">
                                    <div class="table-img">
                                        <img class="notice-object" src="assets/images/user/user7.jpg" alt="...">
                                    </div>
                                    <div class="notice-body">
                                        <h6 class="notice-heading color-info col-orange">Ashton Cox</h6>
                                        <p>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam.</p>
                                        <div class="comment-date">Yesterday</div>
                                    </div>
                                </div>
                                <div class="notice-board">
                                    <div class="table-img">
                                        <img class="notice-object" src="assets/images/user/user9.jpg" alt="...">
                                    </div>
                                    <div class="notice-body">
                                        <h6 class="notice-heading color-primary col-red">Mark Hay</h6>
                                        <p>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam.</p>
                                        <p class="comment-date">1 hour ago</p>
                                    </div>
                                </div>
                                <div class="notice-board">
                                    <div class="table-img">
                                        <img class="notice-object" src="assets/images/user/user8.jpg" alt="...">
                                    </div>
                                    <div class="notice-body">
                                        <h6 class="notice-heading color-primary col-green">Jay Pandya</h6>
                                        <p>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam.</p>
                                        <p class="comment-date">3 hour ago</p>
                                    </div>
                                </div>
                            </div>
                        </ng-scrollbar>
                    </div>
                </div> 
            </div> -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2 style="color: #1A202E;">Complience by position, hours and employees</h2>
                    </div>
                    <ng-scrollbar style="height: 410px" visibility="hover">
                        <div class="tableBody">
                            <div class="responsive_table">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="column-check">Position</th>
                                            <th class="column-check" matTooltip="CheckIn time">Time</th>
                                            <th class="column-check">Required</th>
                                            <th class="column-check">Confirmed</th>
                                            <th class="column-check" matTooltip="(Confirmed/Required)*100">Confirmed %</th>
                                            <th class="column-check">CheckIn</th>
                                            <th class="column-check" matTooltip="(CheckIn/Confirmed)*100">CheckIn %</th>
                                            <th class="column-check">CheckOut</th>
                                            <th class="column-check" matTooltip="(CheckOut/CheckIn)*100">CheckOut %</th>
                                            <th class="column-check">Noshow</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let item of dataItems; let i = index">
                                            <tr *ngIf="item.m !== 0">
                                                <td class="column-check">{{ item.position }}</td>
                                                <td class="column-check">{{ item.hourFrom }}</td>
                                                <td class="column-check">{{ item.quantity }}</td>
                                                <td class="column-check">{{ item.m }}</td>
                                                <td>{{ item.m/item.quantity *100}} %
                                                    <mat-progress-bar mode="determinate" class="progress-round violet-progress" value="{{(item.m/item.quantity) * 100}}">
                                                    </mat-progress-bar>
                                                </td>
                                                <td class="column-check">{{ checkinValues[item.position][item.hourFrom] }}</td>
                                                <td> {{(checkinValues[item.position][item.hourFrom]/item.m) * 100}} %
                                                    <mat-progress-bar mode="determinate" class="progress-round green-progress" value="{{(checkinValues[item.position][item.hourFrom]/item.m) * 100}}">
                                                    </mat-progress-bar>
                                                </td>
                                                <td class="column-check">{{ checkOutValues[item.position][item.hourFrom] }}</td>
                                                <td> {{(checkOutValues[item.position][item.hourFrom]/checkinValues[item.position][item.hourFrom]) * 100}} %
                                                    <mat-progress-bar mode="determinate" class="progress-round orange-progress" value="{{(checkOutValues[item.position][item.hourFrom]/checkinValues[item.position][item.hourFrom]) * 100}}">
                                                    </mat-progress-bar>
                                                </td>
                                                <td class="column-check">{{ noShowValues[item.position][item.hourFrom] }}</td>
                                            </tr>
                                        </ng-container>
                                    </tbody>

                                    <!--<tbody>
                                        <tr *ngFor="let item of dataItems; let i = index">
                                            <ng-container *ngIf="item.m !== 0">
                                                <td>{{ item.position }}</td>
                                                <td class="column-check">{{ item.m }}</td>
                                                <td class="column-check">{{ checkinPosicion }}</td>
                                                <td class="column-check">{{ item.hourFrom }}</td>
                                            </ng-container>
                                        </tr>
                                    </tbody> -->

                                    <!-- <tbody >
                                        <tr>
                                            <td> Server</td>
                                            <td class="column-check">40</td>
                                            <td class="column-check">38</td>
                                            <td>95%
                                                <mat-progress-bar mode="determinate" class="progress-round green-progress" value="95">
                                                </mat-progress-bar>
                                            </td>
                                            <td class="column-check">37</td>
                                            <td>97%
                                                <mat-progress-bar mode="determinate" class="progress-round green-progress" value="97">
                                                </mat-progress-bar>
                                            </td>
                                            <td class="column-check">2</td>
                                        </tr>
                                        <tr>
                                            <td>Bartender</td>
                                            <td class="column-check">6</td>
                                            <td class="column-check">2</td>
                                            <td>33%
                                                <mat-progress-bar mode="determinate" class="progress-round red-progress" value="33">
                                                </mat-progress-bar>
                                            </td>
                                            <td class="column-check">2</td>
                                            <td>100%
                                                <mat-progress-bar mode="determinate" class="progress-round green-progress" value="100">
                                                </mat-progress-bar>
                                            </td>
                                            <td class="column-check">4</td>
                                        </tr>
                                        <tr>
                                            <td>Captain</td>
                                            <td class="column-check">3</td>
                                            <td class="column-check">2</td>
                                            <td>66%
                                                <mat-progress-bar mode="determinate" class="progress-round orange-progress" value="66">
                                                </mat-progress-bar>
                                            </td>
                                            <td class="column-check">2</td>
                                            <td>100%
                                                <mat-progress-bar mode="determinate" class="progress-round green-progress" value="100">
                                                </mat-progress-bar>
                                            </td>
                                            <td class="column-check">1</td>
                                        </tr>
                                    </tbody> -->
                                </table>
                            </div>
                        </div>
                    </ng-scrollbar>
                </div>
            </div>

            <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <div class="header">
                        <h2>Earning Source</h2>
                    </div>
                    <div class="body">
                        <div class="totalEarning">
                            <h2>$90,808</h2>
                        </div>
                        <div class="tab-pane body" id="skills">
                            <ul class="list-unstyled">
                                <li>
                                    <div class="mb-2">
                                        <span class="progress-label">envato.com</span>
                                        <span class="float-end progress-percent label label-info m-b-5">17%</span>
                                    </div>
                                    <div class="progress skill-progress m-b-20 w-100">
                                        <div class="progress-bar l-bg-green width-per-45" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mb-2">
                                        <span class="float-start progress-label">google.com</span>
                                        <span class="float-end progress-percent label label-danger m-b-5">27%</span>
                                    </div>
                                    <div class="progress skill-progress m-b-20 w-100">
                                        <div class="progress-bar l-bg-purple width-per-27" role="progressbar" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mb-2">
                                        <span class="float-start progress-label">yahoo.com</span>
                                        <span class="float-end progress-percent label label-primary m-b-5">25%</span>
                                    </div>
                                    <div class="progress skill-progress m-b-20 w-100">
                                        <div class="progress-bar l-bg-orange width-per-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mb-2">
                                        <span class="float-start progress-label">store</span>
                                        <span class="float-end progress-percent label label-success m-b-5">18%</span>
                                    </div>
                                    <div class="progress skill-progress m-b-20 w-100">
                                        <div class="progress-bar l-bg-cyan width-per-18" role="progressbar" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mb-2">
                                        <span class="float-start progress-label">Others</span>
                                        <span class="float-end progress-percent label label-warning m-b-5">13%</span>
                                    </div>
                                    <div class="progress skill-progress m-b-20 w-100">
                                        <div class="progress-bar l-bg-red width-per-13" role="progressbar" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <!--<div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>Leave Requests</h2>
                        <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
                <mat-icon>more_vert</mat-icon>
              </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                  <mat-icon>add_circle_outline</mat-icon>
                  <span>Add</span>
                </button>
                            <button mat-menu-item disabled>
                  <mat-icon>delete_outline</mat-icon>
                  <span>Delete</span>
                </button>
                            <button mat-menu-item>
                  <mat-icon>refresh</mat-icon>
                  <span>Refresh</span>
                </button>
                        </mat-menu>
                    </div>
                    <div class="tableBody">
                        <div class="responsive_table">
                            <table class="table display product-overview mb-30" id="support_table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Employee Name</th>
                                        <th>Leave Type</th>
                                        <th>Leave From</th>
                                        <th>Leave To</th>
                                        <th>Days</th>
                                        <th>Status</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>ID7865</td>
                                        <td><img src="assets/images/user/user1.jpg" alt="" class="user_img">Jens Brincker</td>
                                        <td>Sick Leave</td>
                                        <td>22/05/2021</td>
                                        <td>27/05/2021</td>
                                        <td>6</td>
                                        <td>
                                            <div class="badge badge-solid-green">Approve</div>
                                        </td>
                                        <td>
                                            <button mat-stroked-button color="primary">Details</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ID9357</td>
                                        <td><img src="assets/images/user/user2.jpg" alt="" class="user_img">Mark Harry</td>
                                        <td>Casual Leave</td>
                                        <td>12/06/2021</td>
                                        <td>15/06/2021</td>
                                        <td>4</td>
                                        <td>
                                            <div class="badge badge-solid-orange">Reject</div>
                                        </td>
                                        <td>
                                            <button mat-stroked-button color="primary">Details</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ID3987</td>
                                        <td><img src="assets/images/user/user3.jpg" alt="" class="user_img">Anthony Davie</td>
                                        <td>Marriage Leave</td>
                                        <td>02/02/2021</td>
                                        <td>12/02/2021</td>
                                        <td>6</td>
                                        <td>
                                            <div class="badge badge-solid-blue">Pending</div>
                                        </td>
                                        <td>
                                            <button mat-stroked-button color="primary">Details</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ID2483</td>
                                        <td><img src="assets/images/user/user4.jpg" alt="" class="user_img">David Perry</td>
                                        <td>Maternity leave</td>
                                        <td>10/01/2021</td>
                                        <td>10/03/2021</td>
                                        <td>90</td>
                                        <td>
                                            <div class="badge badge-solid-green">Approve</div>
                                        </td>
                                        <td>
                                            <button mat-stroked-button color="primary">Details</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ID2986</td>
                                        <td><img src="assets/images/user/user5.jpg" alt="" class="user_img">John Doe</td>
                                        <td>Unpaid Leave</td>
                                        <td>20/05/2021</td>
                                        <td>22/05/2021</td>
                                        <td>3</td>
                                        <td>
                                            <div class="badge badge-solid-orange">Reject</div>
                                        </td>
                                        <td>
                                            <button mat-stroked-button color="primary">Details</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ID1267</td>
                                        <td><img src="assets/images/user/user6.jpg" alt="" class="user_img">Sarah Smith</td>
                                        <td>Sick Leave</td>
                                        <td>10/07/2021</td>
                                        <td>11/07/2021</td>
                                        <td>2</td>
                                        <td>
                                            <div class="badge badge-solid-green">Approve</div>
                                        </td>
                                        <td>
                                            <button mat-stroked-button color="primary">Details</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ID3398</td>
                                        <td><img src="assets/images/user/user7.jpg" alt="" class="user_img">Cara Stevens</td>
                                        <td>Casual leave</td>
                                        <td>11/04/2021</td>
                                        <td>13/04/2021</td>
                                        <td>3</td>
                                        <td>
                                            <div class="badge badge-solid-blue">Pending</div>
                                        </td>
                                        <td>
                                            <button mat-stroked-button color="primary">Details</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ID9965</td>
                                        <td><img src="assets/images/user/user8.jpg" alt="" class="user_img">Ashton Cox</td>
                                        <td>Sick Leave</td>
                                        <td>14/05/2021</td>
                                        <td>15/05/2021</td>
                                        <td>2</td>
                                        <td>
                                            <div class="badge badge-solid-green">Approve</div>
                                        </td>
                                        <td>
                                            <button mat-stroked-button color="primary">Details</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>