<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <img [src]='candidates.img' alt="avatar">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="candidatesForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>description</mat-icon>
            <mat-error *ngIf="candidatesForm.get('name')?.hasError('required')">
              Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>email</mat-label>
            <input matInput formControlName="email" required>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>mail</mat-icon>
            <mat-error *ngIf="candidatesForm.get('email')?.hasError('required')">
              Email is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="mobile" required type="number">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>flag</mat-icon>
            <mat-error *ngIf="candidatesForm.get('mobile')?.hasError('required')">
              Mobile is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>role</mat-label>
            <input matInput formControlName="role" required>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>badge</mat-icon>
            <mat-error *ngIf="candidatesForm.get('role')?.hasError('required')">
              role is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Job Title</mat-label>
            <input matInput formControlName="title" required>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>description</mat-icon>
            <mat-error *ngIf="candidatesForm.get('title')?.hasError('required')">
              Job Title is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width " appearance="outline">
            <mat-label>Job Type</mat-label>
            <mat-select formControlName="jobType" required>
              <mat-option [value]="'Full Time'">
                Full Time
              </mat-option>
              <mat-option [value]="'Part Time'">
                Part Time
              </mat-option>
              <mat-option [value]="'Internship'">
                Internship
              </mat-option>
              <mat-option [value]="'Other'">
                Other
              </mat-option>
            </mat-select>
            <mat-error *ngIf="candidatesForm.get('jobType')?.hasError('required')">
              Job Type is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row" align="end">
            <button mat-raised-button color="primary" [disabled]="!candidatesForm.valid" [mat-dialog-close]="1"
              (click)="confirmAdd()">Save</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
