<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Add Projects'" [items]="['Projects']" [active_item]="'Add Projects'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Add Projects</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Project ID</mat-label>
                    <input matInput formControlName="projectID" required>
                    <mat-error *ngIf="projectForm.get('projectID')?.hasError('required')">
                      Project ID is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Project Title</mat-label>
                    <input matInput formControlName="projectTitle" placeholder="Project Title" required>
                    <mat-error *ngIf="projectForm.get('projectTitle')?.hasError('required')">
                      Project Title is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Department</mat-label>
                    <mat-select formControlName="department" required>
                      <mat-option [value]="'Designing'">
                        Designing
                      </mat-option>
                      <mat-option [value]="'Development'">
                        Development
                      </mat-option>
                      <mat-option [value]="'Testing'">
                        Testing
                      </mat-option>
                      <mat-option [value]="'Marketing'">
                        Marketing
                      </mat-option>
                      <mat-option [value]="'Accounts'">
                        Accounts
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="projectForm.get('department')?.hasError('required')">
                      Department is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Project Priority</mat-label>
                    <mat-select formControlName="priority" required>
                      <mat-option [value]="'Low'">
                        Low
                      </mat-option>
                      <mat-option [value]="'Medium'">
                        Medium
                      </mat-option>
                      <mat-option [value]="'High'">
                        High
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="projectForm.get('priority')?.hasError('required')">
                      Project Priority is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Client</mat-label>
                    <input matInput formControlName="client" required>
                    <mat-error *ngIf="projectForm.get('client')?.hasError('required')">
                      Client name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Price</mat-label>
                    <input matInput formControlName="price" type="number" required>
                    <mat-error *ngIf="projectForm.get('price')?.hasError('required')">
                      Price is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Project Start Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="startDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="projectForm.get('startDate')?.hasError('required')">
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Project End Date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="endDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="projectForm.get('endDate')?.hasError('required')">
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Team</mat-label>
                    <mat-select formControlName="team" multiple required>
                      <mat-option *ngFor="let team of teamList" [value]="team">{{team}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                  <mat-label>Work Status: </mat-label>
                  <mat-radio-group formControlName="status">
                    <mat-radio-button value="Active">Active</mat-radio-button>
                    <mat-radio-button value="Completed">Completed</mat-radio-button>
                    <mat-radio-button value="Running" [checked]="true">Running</mat-radio-button>
                    <mat-radio-button value="Pending">Pending</mat-radio-button>
                    <mat-radio-button value="NotStarted">Not Started</mat-radio-button>
                    <mat-radio-button value="Cancled">Cancled</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row">
                <mat-label>Descriptions: </mat-label>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <ckeditor [editor]="Editor" data="<p>Project details!</p>"></ckeditor>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-label>Upload Image</mat-label>
                  <app-file-upload formControlName="fileUpload"></app-file-upload>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [disabled]="!projectForm.valid " mat-raised-button
                    color="primary">Submit</button>
                  <button type="button" mat-raised-button color="warn">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
