<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Leave Types'" [items]="['Leaves']" [active_item]="'Leave Types'">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tabbable-line">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="materialTableHeader">
                  <div class="left">
                    <ul class="header-buttons-left ms-0">
                      <li class="tbl-title">
                        <h2>Leave Types</h2>
                      </li>
                      <li class="tbl-search-box">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Search" type="text" #filter class="browser-default search-field"
                          aria-label="Search box">
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="body overflow-auto">
                  <div class="responsive_table">
                    <table mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

                      <!-- ID Column -->
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Id
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="leave_name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Leave Name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"><span class="mobile-label">Leave Name:</span> {{row.leave_name}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="type">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Leave Type
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> <span class="mobile-label">Leave Type:</span>{{row.type}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="leave_unit">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Leave Unit
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"><span class="mobile-label">Leave Unit:</span> {{row.leave_unit}}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Status
                        </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let row">
                          <span class="mobile-label">Status:</span>
                          <div *ngIf="row.status==='Active'">
                            <span class="badge badge-pill badge-primary col-green">
                              {{row.status}}</span>
                          </div>
                          <div *ngIf="row.status==='Deactive'">
                            <span class="badge badge-pill badge-primary col-red">
                              {{row.status}}</span>
                          </div>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="note">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Note
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="column-nowrap"> <span class="truncate-text"><span
                              class="mobile-label">Note:</span>{{row.note}}</span>
                        </mat-cell>
                      </ng-container>
                      <!-- actions -->
                      <ng-container matColumnDef="actions">
                        <mat-header-cell class="psl-3 tbl-col-width-per-10" *matHeaderCellDef>
                          Actions
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row; let i=index;" class="psl-3 tbl-col-width-per-10">
                          <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                              <i class="material-icons-two-tone align-middle msr-2">create</i>
                              <span>Edit Contact</span>
                            </button>
                            <button mat-menu-item>
                              <i class="material-icons-two-tone align-middle msr-2">delete_forever</i>
                              <span>Delete Contact</span>
                            </button>
                          </mat-menu>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns">
                      </mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple>
                      </mat-row>
                    </table>
                    <!-- Loading spinner -->
                    <div *ngIf="exampleDatabase?.isTblLoading" class="tbl-spinner">
                      <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                      </mat-progress-spinner>
                    </div>
                    <div *ngIf="!exampleDatabase?.isTblLoading" class="no-results"
                      [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'">
                      No results
                    </div>
                    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                      [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
