<div class="addContainer containerModal">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    {{dialogTitle}}
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="allActionsForm">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                    <!--Properties of owl-date-Time: https://www.npmjs.com/package/@danielmoncada/angular-datetime-picker?activeTab=readme-->
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>CheckIn</mat-label>
                        <input matInput formControlName="startDate" [owlDateTimeTrigger]="startDate" [owlDateTime]="startDate" placeholder="Choose a date" required>
                        <mat-icon matSuffix [owlDateTimeTrigger]="startDate" class="date-icon">today</mat-icon>
                        <mat-error *ngIf="allActionsForm.get('startDate')?.hasError('required')">
                            CheckIn is required!
                        </mat-error>
                        <owl-date-time [hour12Timer]="true" [startAt]="" #startDate></owl-date-time>
                    </mat-form-field>

                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>CheckOut</mat-label>
                        <input matInput formControlName="endDate" [owlDateTimeTrigger]="endDate" [owlDateTime]="endDate" placeholder="Choose a date" required>
                        <mat-icon matSuffix [owlDateTimeTrigger]="endDate" class="date-icon">today</mat-icon>
                        <mat-error *ngIf="allActionsForm.get('endDate')?.hasError('required')">
                            CheckOut is required!
                        </mat-error>
                        <mat-error *ngIf="allActionsForm.hasError('invalidDate')">
                            CheckOut must be greater than CheckIn.
                        </mat-error>
                        <owl-date-time [hour12Timer]="true" #endDate></owl-date-time>
                    </mat-form-field>



                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Break</mat-label>
                        <input matInput formControlName="break" placeholder="Enter BreakTime" min="20" max="120">
                        <!--[owlDateTimeTrigger]="endDate" [owlDateTime]="endDate" -->
                        <mat-icon matSuffix class="local_cafe"></mat-icon>
                        <mat-error *ngIf="allActionsForm.get('break')?.hasError('required')">
                            Break is required!
                        </mat-error>
                        <mat-error *ngIf="allActionsForm.get('break')?.hasError('pattern')">
                            Type only numbers!
                        </mat-error>
                        <mat-error *ngIf="allActionsForm.get('break')?.hasError('outOfRange')">
                            Break must be between 20 and 120.
                        </mat-error>
                        <!--<owl-date-time #endDate></owl-date-time>-->
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" [type]="submit" [disabled]="!allActionsForm.valid" (click)="confirmAdd()">Save</button>
                        <button mat-raised-button color="warn" (click)="dialogRef.close()" tabindex="-1">Cancel</button>
                    </div>
                </div>
                <!--<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                    <div class="example-button-row" *ngIf="showDeleteBtn">
                        <button mat-mini-fab aria-label color="warn" (click)="deleteEvent()">
                            <mat-icon class="font-20">delete</mat-icon>
                        </button>
                    </div>
                </div>-->
            </div>
        </form>
    </div>
</div>