<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="myLeavesForm" (ngSubmit)="submit">
      <div class="row">
        <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Apply date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="applyDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="myLeavesForm.get('applyDate')?.hasError('required')">
              Please select date
            </mat-error>
          </mat-form-field>
        </div>
        <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>From date</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="fromDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error *ngIf="myLeavesForm.get('fromDate')?.hasError('required')">
              Please select date
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>To date</mat-label>
            <input matInput [matDatepicker]="picker3" formControlName="toDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
            <mat-error *ngIf="myLeavesForm.get('toDate')?.hasError('required')">
              Please select date
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Half Day</mat-label>
            <input matInput formControlName="halfDay" required>
            <mat-error *ngIf="myLeavesForm.get('halfDay')?.hasError('required')">
              Half Day required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type" required>
              <mat-option [value]="'Casual Leave'">
                Casual Leave
              </mat-option>
              <mat-option [value]="'Sick Leave'">
                Sick Leave
              </mat-option>
              <mat-option [value]="'Privilege Leave'">
                Privilege Leave
              </mat-option>
              <mat-option [value]="'Marriage Leave'">
                Marriage Leave
              </mat-option>
              <mat-option [value]="'Maternity Leave'">
                Maternity Leave
              </mat-option>
            </mat-select>
            <mat-error *ngIf="myLeavesForm.get('type')?.hasError('required')">
              Select Any Type
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" required>
              <mat-option [value]="'Approved'">
                Approved
              </mat-option>
              <mat-option [value]="'Rejected'">
                Rejected
              </mat-option>
              <mat-option [value]="'Pending'">
                Pending
              </mat-option>
            </mat-select>
            <mat-error *ngIf="myLeavesForm.get('type')?.hasError('required')">
              Select Status
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Reason</mat-label>
            <textarea matInput formControlName="reason"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row" align="end">
            <button mat-raised-button color="primary" [disabled]="!myLeavesForm.valid" [mat-dialog-close]="1"
              (click)="confirmAdd()">Save</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
