<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Workers'" [items]="['Dashboard']" [active_item]="'Workers'">
            </app-breadcrumb>
        </div>
        <div class="container">
            <div class="column">
                <div class="sub-column">
                    <div class="sub-sub-column">
                        <mat-card class="tarjeta-pequena">
                            <mat-card-content>
                                <mat-card-title>Order number</mat-card-title>
                                {{dataEmployees.data.orderId}}
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="sub-sub-column">
                        <mat-card class="tarjeta-pequena">
                            <mat-card-content>
                                <mat-card-title>Client</mat-card-title>
                                <!-- {{dataEmployees.data.clientName}} -->
                                {{dataEmployees.data.clientName ? dataEmployees.data.clientName : dataEmployees.data.company}}
                                <!-- company -->
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="sub-sub-column">
                        <mat-card class="tarjeta-pequena">
                            <mat-card-content>
                                <mat-card-title>Hours worked </mat-card-title>
                                {{totalHoursSum}}
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="sub-sub-column">
                        <mat-card class="tarjeta-pequena">
                            <mat-card-content>
                                <mat-card-title>Event date </mat-card-title>
                                {{dataEmployees.data.startDate}}
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="sub-sub-column">
                        <mat-card class="tarjeta-pequena-2">
                            <mat-card-content>
                                <mat-card-title>Status </mat-card-title>
                                {{statusOrder}}
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="materialTableHeader">
                        <div class="left">
                            <ul class="header-buttons-left ms-0">
                                <li class="tbl-title">
                                    <!--<h2>Employees</h2>-->
                                </li>
                                <li class="tbl-search-box">
                                    <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                    <input placeholder="Search" type="text" #filter class="browser-default search-field" aria-label="Search box">
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="tbl-export-btn">
                                <span *ngIf="ShowButtons" class="tbl-export-btn">
                                <li class="tbl-header-btn">
                                    <div class="m-l-10"  [hidden]=!selection.hasValue() matTooltip="MARK">
                                        <button mat-mini-fab color="#ffec8b" (click)="markEmpWorkHours(getSelectedRows())"> 
                                            <mat-icon class="col-yellow">how_to_reg</mat-icon>
                                        </button>
                                    </div>
                                </li>

                                <li class="tbl-header-btn">
                                    <div class="m-l-10" *ngIf="showCheckInButton" matTooltip="CHECKIN">
                                        <!--<div class="m-l-10" [hidden]=!selection.hasValue() matTooltip="CHECKIN"> -->
                                        <button mat-mini-fab color="primary" (click)="checkInModal(getSelectedRows())"> 
                                            <mat-icon class="col-white">how_to_reg</mat-icon>
                                        </button>
                                    </div>
                                </li>

                                <li class="tbl-header-btn">
                                    <div class="m-l-10" *ngIf="showCheckOutButton" matTooltip="CHECKOUT">
                                        <!--<div class="m-l-10" [hidden]=!selection.hasValue() matTooltip="CHECKOUT"> -->
                                        <button mat-mini-fab color="primary" (click)="checkOutModal(getSelectedRows())"> 
                                            <mat-icon class="col-white">logout</mat-icon>
                                        </button>
                                    </div>
                                </li>

                                <li class="tbl-header-btn">
                                    <div class="m-l-10" *ngIf="showBreakButton" matTooltip="BREAK">
                                        <!--<div class="m-l-10" [hidden]=!selection.hasValue() matTooltip="BREAK">-->
                                        <button mat-mini-fab color="primary" (click)="breakModal(getSelectedRows())"> 
                                            <mat-icon class="col-white">coffee</mat-icon>
                                        </button>
                                    </div>
                                </li>

                                <li class="tbl-header-btn">
                                    <div class="m-l-10" *ngIf="showNoShowButton" matTooltip="NOSHOW">
                                        <!--<div class="m-l-10" [hidden]=!selection.hasValue() matTooltip="NOSHOW"> -->
                                        <button mat-mini-fab color="warn" (click)="outEmployee(getSelectedRows())"> 
                                            <mat-icon class="col-white">visibility_off</mat-icon>
                                        </button>
                                    </div>
                                </li>

                                <li class="tbl-header-btn">
                                    <div class="m-l-10" [hidden]=!selection.hasValue() matTooltip="DELETE: IN, OUT, BREAK">
                                        <button mat-mini-fab color="warn" (click)="deleteInTime(getSelectedRows())">
                                        <mat-icon class="col-white">refresh</mat-icon>
                                      </button>
                                    </div>
                                </li>

                                <!-- BOTONES ESTÁTICOS -->

                                <li class="tbl-header-btn borde-izq">
                                    <div class="m-l-10" matTooltip="All ACTIONS">
                                        <button mat-mini-fab color="primary" (click)="allActionsModal(getSelectedRows())"> 
                                        <mat-icon class="col-white">swap_horizontal_circle</mat-icon>
                                      </button>
                                    </div>
                                </li>
                                    <div class="background">
                                        <li class="tbl-header-btn">
                                            <div class=" marginButton" matTooltip="ADD NEW">
                                                <!--class="m-l-10"-->
                                                <button mat-mini-fab color="primary" (click)="addNewEmergencyEmployeeModal()">
                                                <mat-icon class="col-white">person_add</mat-icon>
                                            </button>
                                            </div>
                                        </li>
                                        <li class="tbl-header-btn">
                                            <div class="marginButton" matTooltip="SEARCH EMPLOYEE">
                                                <!--class="m-l-10"-->
                                                <button mat-mini-fab color="primary" (click)="addExistingEmergencyEmployeeModal()">
                                                <mat-icon class="col-white">person_search</mat-icon>
                                            </button>
                                            </div>
                                        </li>
                                    </div>
                                </span>
                                <li class="tbl-header-btn">
                                    <div class="" matTooltip="DOWNLOAD">
                                        <button mat-mini-fab color="primary" (click)="generatePdf()">
                                            <!-- (click)="exportExcel()" -->
                                        <mat-icon class="col-white">download</mat-icon>
                                      </button>
                                    </div>
                                </li>

                                <!--<li class="tbl-header-btn">
                                    <div class="m-l-10" matTooltip="REFRESH">
                                        <button mat-mini-fab color="primary" (click)="refresh()">
                                            <mat-icon class="col-white">refresh</mat-icon>
                                        </button>
                                    </div>
                                </li>-->



                                <!--<li>
                                    <div class="export-button m-l-10" matTooltip="XLSX">
                                        <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()" />
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="body overflow-auto">
                        <div class="responsive_table">
                            <table mat-table [dataSource]="dataSource" matSort class="mat-cell">
                                <ng-container matColumnDef="select">
                                    <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-7'">
                                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                                        </mat-checkbox>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-7'">
                                        <mat-checkbox (click)="onCheckboxClick(row)" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                                        </mat-checkbox>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="lastName">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>LastName</mat-header-cell>
                                    <mat-cell class="celda" *matCellDef="let row"> <span class="mobile-label">LastName:</span>{{row.lastName}}</mat-cell>
                                    <!--(contextmenu)="onContextMenu($event, row)"-->
                                </ng-container>
                                <ng-container matColumnDef="firstName">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>FirstName</mat-header-cell>
                                    <mat-cell class="celda" *matCellDef="let row"> <span class="mobile-label">FirstName:</span>{{row.firstName}}</mat-cell>
                                    <!--(contextmenu)="onContextMenu($event, row)"-->
                                </ng-container>
                                <ng-container matColumnDef="highKeyID">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>HighKey ID</mat-header-cell>
                                    <mat-cell class="celda" *matCellDef="let row"> <span class="mobile-label">HighKeyId:</span>{{row.highKeyId}}</mat-cell>
                                    <!--(contextmenu)="onContextMenu($event, row)"-->
                                </ng-container>
                                <ng-container matColumnDef="payRollID">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>PayRoll ID</mat-header-cell>
                                    <mat-cell class="celda2" *matCellDef="let row"> <span class="mobile-label">PayRoll ID:</span>{{row.payRollId}}</mat-cell>
                                    <!--(contextmenu)="onContextMenu($event, row)"-->
                                </ng-container>
                                <ng-container matColumnDef="position">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>Position</mat-header-cell>
                                    <mat-cell class="celda" *matCellDef="let row"> <span class="mobile-label">Position:</span>{{row.position}}</mat-cell>
                                    <!--(contextmenu)="onContextMenu($event, row)"-->
                                </ng-container>
                                <ng-container matColumnDef="hourFrom">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>Scheduled time</mat-header-cell>
                                    <mat-cell class="celda2" *matCellDef="let row"> <span class="mobile-label">Scheduled time:</span>{{row.hourFromFormatted}}</mat-cell>
                                    <!--(contextmenu)="onContextMenu($event, row)"-->
                                </ng-container>
                                <ng-container matColumnDef="in">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>In</mat-header-cell>
                                    <mat-cell class="celda2" *matCellDef="let row"> <span class="mobile-label">In:</span>{{row.in}}</mat-cell>
                                    <!--(contextmenu)="onContextMenu($event, row)"-->
                                </ng-container>
                                <ng-container matColumnDef="out">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>Out</mat-header-cell>
                                    <mat-cell class="celda2" *matCellDef="let row"> <span class="mobile-label">Out:</span>{{row.out}}</mat-cell>
                                    <!--(contextmenu)="onContextMenu($event, row)"-->
                                </ng-container>
                                <ng-container matColumnDef="break">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>Break</mat-header-cell>
                                    <mat-cell class="celda2" *matCellDef="let row"> <span class="mobile-label">Break:</span>{{row.break}}</mat-cell>
                                    <!--(contextmenu)="onContextMenu($event, row)"-->
                                </ng-container>
                                <ng-container matColumnDef="totalHours">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>Total hours</mat-header-cell>
                                    <mat-cell class="celda2" *matCellDef="let row"> <span class="mobile-label">Total hours:</span>{{row.totalHours}}</mat-cell>
                                    <!--(contextmenu)="onContextMenu($event, row)"-->
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                    <mat-cell class="celda2" *matCellDef="let row"> <span class="mobile-label">Status:</span>{{row.status}}</mat-cell>
                                    <!--(contextmenu)="onContextMenu($event, row)"-->
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                
                                
                                <mat-row *matRowDef="let row; columns: displayedColumns;" [style.cursor]="'pointer'" matRipple [ngStyle]="{'background-color': row.empExactHours ? '#FCF3CF' : ''}" >
                                    <!--(click)="editCall(row)"-->                     
                                </mat-row>
                                

                            </table>
                            <!-- Loading spinner -->
                            <div *ngIf="isTblLoading" class="tbl-spinner">
                                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                                </mat-progress-spinner>
                            </div>
                            <mat-paginator #paginator [length]="dataSource.filteredData?.length || 0" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>