.background {
    background-color: #ECF0F4;
    border-radius: 30px;
    padding: 6px 0px 6px 0;
    margin-left: 6px;
    margin-right: 6px
}

.marginButton {
    margin-right: 10px;
    margin-left: 10px;
}

.borde-izq {
    border-left: thick solid #004676;
    margin-left: 20px;
}

.tarjeta {
    margin: 20px 0 20px 0;
    width: 80%;
    color: #5B626B;
    font-weight: 500;
    font-size: medium;
}

.tarjeta-pequena {
    margin: 20px 0 20px 0;
    //width: 50%;
    color: white;
    font-weight: 500;
    background: linear-gradient(135deg, #1a202d 60%, rgb(202, 234, 253) 100%);
}

.tarjeta-pequena-2 {
    margin: 20px 0 20px 0;
    //width: 50%;
    color: #1A202D;
    font-weight: 500;
    background: linear-gradient(135deg, white 60%, rgb(26, 32, 45) 100%); // #CAEAFD 60%
}

.tarjeta-indicadores {
    margin: auto;
    width: 20%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    //padding-left: 100px;
    //padding-right: 100px;
}

.column {
    padding: 10px;
    vertical-align: super;
}

.sub-column {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    //grid-template-columns: 1fr;
    gap: 10px;
    //padding: 10px;
}

.sub-sub-column {
    display: grid;
    padding: 20px;
}


/* Clase para fila normal */

.normal-row {
    background-color: transparent;
    /* Color por defecto */
}


/* Clase para fila resaltada */

.highlighted-row {
    background-color: yellow;
    /* Color que deseas aplicar cuando timeDifferenceInMinutes < 20 */
}

#mapIn {
    height: 600px;
    border-radius: 10px;
    margin-top: 15px;
}

#mapOut {
    height: 600px;
    border-radius: 10px;
    margin-top: 15px;
}

.mapButton {
    width: 90px;
    border-radius: 7px;
    margin-right: 5px;
}

.backgroundMap {
    margin: 20px 10px 0px 40px;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
}

.map {
    height: 500px;
    width: 500px;
    border-radius: 7px;
}

@media screen and (min-width: 600px) {
    .container {
        //grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr;
        //padding: 0 0px;
    }
    .sub-columns {
        //grid-template-columns: repeat(2, 1fr);
        grid-template-columns: 1fr;
    }
}

.column-check {
    text-align: center;
}

.text-red {
    color: red !important;
}