<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Workers'" [items]="['Dashboard']" [active_item]="'Workers'">
            </app-breadcrumb>
        </div>
        <div class="container">
            <div class="column">
                <div class="sub-column">
                    <div class="sub-sub-column">
                        <mat-card class="tarjeta-pequena">
                            <mat-card-content>
                                <mat-card-title>Order number</mat-card-title>
                                {{dataEmployees.data.orderId}}
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="sub-sub-column">
                        <mat-card class="tarjeta-pequena">
                            <mat-card-content>
                                <mat-card-title>Client</mat-card-title>
                                {{dataEmployees.data.place}}
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="materialTableHeader">
                        <div class="left">
                            <ul class="header-buttons-left ms-0">
                                <li class="tbl-title">
                                    <!--<h2>Employees</h2>-->
                                </li>
                                <li class="tbl-search-box">
                                    <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                    <input placeholder="Search" type="text" #filter class="browser-default search-field" aria-label="Search box">
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="tbl-export-btn">

                                <li class="tbl-header-btn">
                                    <div class="m-l-10" [hidden]=!selection.hasValue() matTooltip="CHECKIN">
                                        <button mat-mini-fab color="primary" (click)="checkInModal()"> <!--Ingresar función (click)=""-->
                                      <mat-icon class="col-white">how_to_reg</mat-icon>
                                    </button>
                                    </div>
                                </li>

                                <li class="tbl-header-btn">
                                    <div class="m-l-10" [hidden]=!selection.hasValue() matTooltip="CHECKOUT">
                                        <button mat-mini-fab color="primary"> <!--Ingresar función (click)=""-->
                                  <mat-icon class="col-white">logout</mat-icon>
                                </button>
                                    </div>
                                </li>

                                <li class="tbl-header-btn">
                                    <div class="m-l-10" [hidden]=!selection.hasValue() matTooltip="NOSHOW">
                                        <button mat-mini-fab color="warn"> <!--Ingresar función (click)=""-->
                                  <mat-icon class="col-white">visibility_off</mat-icon>
                                </button>
                                    </div>
                                </li>

                                <li class="tbl-header-btn">
                                    <div class="m-l-10" [hidden]=!selection.hasValue() matTooltip="DELETE">
                                        <button mat-mini-fab color="warn"><!--Ingresar función (click)=""-->
                                        <mat-icon class="col-white">delete</mat-icon>
                                      </button>
                                    </div>
                                </li>

                                <li class="tbl-header-btn borde-izq">
                                    <div class="m-l-10" matTooltip="ADD">
                                        <button mat-mini-fab color="primary" (click)="addNew()">
                                        <mat-icon class="col-white">person_add</mat-icon>
                                      </button>
                                    </div>
                                </li>
                                <!--<li class="tbl-header-btn">
                                    <div class="m-l-10" matTooltip="REFRESH">
                                        <button mat-mini-fab color="primary" (click)="refresh()">
                      <mat-icon class="col-white">refresh</mat-icon>
                    </button>
                                    </div>
                                </li>-->

                                <li>
                                    <div class="export-button m-l-10" matTooltip="XLSX">
                                        <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="body overflow-auto">
                        <div class="responsive_table">
                            <table mat-table [dataSource]="dataSource" matSort class="mat-cell">
                                <!--#table-->
                                <!-- Checkbox Column -->
                                <ng-container matColumnDef="select">
                                    <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-7'">
                                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [ngClass]="'tbl-checkbox'">
                                        </mat-checkbox>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-7'">
                                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                                        </mat-checkbox>
                                    </mat-cell>
                                </ng-container>
                                <!-- ID Column -->
                                <!--<ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                                </ng-container> -->
                                <!--<ng-container matColumnDef="img">
                                    <mat-header-cell mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-7'"> Image
                                    </mat-header-cell>
                                    <mat-cell mat-cell *matCellDef="let row" class="table-img tbl-col-width-per-7"> <span class="mobile-label">Image:</span><img [src]="row.img" />
                                    </mat-cell>
                                </ng-container>-->
                                <ng-container matColumnDef="firstName">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>FirstName</mat-header-cell>
                                    <mat-cell class="celda" *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> <span class="mobile-label">FirstName:</span>{{row.firstName}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="lastName">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>LastName</mat-header-cell>
                                    <mat-cell class="celda" *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> <span class="mobile-label">LastName:</span>{{row.lastName}}</mat-cell>
                                </ng-container>

                                <!--Diego-->
                                <ng-container matColumnDef="highKeyID">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>HighKey ID</mat-header-cell>
                                    <mat-cell class="celda" *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> <span class="mobile-label">HighKeyId:</span>{{row.highKeyId}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="position">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>Position</mat-header-cell>
                                    <mat-cell class="celda" *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> <span class="mobile-label">Position:</span>{{row.position}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="totalHours">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>Total hours</mat-header-cell>
                                    <mat-cell class="celda2" *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> <span class="mobile-label">Total hours:</span>{{row.totalHours}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="payRollID">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>PayRoll ID</mat-header-cell>
                                    <mat-cell class="celda2" *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> <span class="mobile-label">PayRoll ID:</span>{{row.payRollId}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="horaAcordada">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>Scheduled time</mat-header-cell>
                                    <mat-cell class="celda2" *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> <span class="mobile-label">Scheduled time:</span>{{row.horaAcordada}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="in">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>In</mat-header-cell>
                                    <mat-cell class="celda2" *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> <span class="mobile-label">In:</span>{{row.in}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="out">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>Out</mat-header-cell>
                                    <mat-cell class="celda2" *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> <span class="mobile-label">Out:</span>{{row.out}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="break">
                                    <mat-header-cell class="encabezado" *matHeaderCellDef mat-sort-header>Break</mat-header-cell>
                                    <mat-cell class="celda2" *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> <span class="mobile-label">Break:</span>{{row.break}}</mat-cell>
                                </ng-container>
                                <!--<ng-container matColumnDef="department">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Department</mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> <span class="mobile-label">Department:</span>{{row.department}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="role">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> <span class="mobile-label">Role:</span>{{row.role}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="degree">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Degree</mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"><span class="mobile-label">Degree:</span> {{row.degree}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="mobile">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"> <span class="mobile-label">Mobile:</span>{{row.mobile}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="email">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)"><span class="mobile-label">Email:</span> {{row.email}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="date">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Joining Date</mat-header-cell>
                                    <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
                                        <span class="mobile-label">Joining Date:</span> {{row.date | date: 'MM/dd/yyyy'}}</mat-cell>
                                </ng-container>
                            -->
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell class="pr-0" *matHeaderCellDef></mat-header-cell>
                                    <mat-cell class="celda" *matCellDef="let row; let i=index;" class="pr-0">
                                        <button mat-icon-button color="accent" class="tbl-action-btn" matTooltip="Delete"> <!--Adicionar los siguientes eventos para que elimine la fila: (click)="$event.stopPropagation()" (click)="deleteItem(i, row)"-->
                                <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)" [style.cursor]="'pointer'" matRipple>
                                </mat-row>
                            </table>
                            <!-- Loading spinner -->
                            <div *ngIf="isTblLoading" class="tbl-spinner">
                                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                                </mat-progress-spinner>
                            </div>
                            <!-- context menu start -->
                            <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
                            </div>
                            <mat-menu #contextMenu="matMenu">
                                <ng-template matMenuContent let-item="item">
                                    <button mat-menu-item (click)="addNew()">
                                        <mat-icon>add_box</mat-icon>
                                        <span>Add Record</span>
                                    </button>
                                    <button mat-menu-item (click)="editCall(item)">
                                        <mat-icon>create</mat-icon>
                                        <span>Edit Record</span>
                                    </button>
                                    <button mat-menu-item (click)="deleteItem(item.id,item)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Delete Record</span>
                                    </button>
                                    <button mat-menu-item (click)="refresh()">
                                        <mat-icon>refresh</mat-icon>
                                        <span>Refresh Record</span>
                                    </button>
                                    <button mat-menu-item disabled>
                                        <mat-icon>no_encryption</mat-icon>
                                        <span>Disable</span>
                                    </button>

                                </ng-template>
                            </mat-menu>
                            <!--<mat-menu #nestedmenu="matMenu">
                                <button mat-menu-item>
                  <mat-icon>mail_outline</mat-icon>
                  <span>Item 1</span>
                </button>
                                <button mat-menu-item>
                  <mat-icon>call</mat-icon>
                  <span>Item 2</span>
                </button>
                                <button mat-menu-item>
                  <mat-icon>chat</mat-icon>
                  <span>Item 3</span>
                </button> 
                            </mat-menu> -->
                            <!-- context menu end -->
                            <!--  <div *ngIf="!exampleDatabase?.isTblLoading" class="no-results" [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'">
                                No results
                            </div> -->
                            <mat-paginator #paginator [length]="dataSource.filteredData?.length || 0" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>