/* Contenedor principal del modal */
.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  }
  
  /* Contenido del modal */
  .modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px; /* Ancho del modal */
    text-align: center;
  }
  
  /* Título del modal */
  .modal-content h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  /* Párrafo descriptivo */
  .modal-content p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
  }
  
  /* Contenedor de botones */
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espacio entre botones */
  }
  
  /* Estilos base para los botones */
  .role-button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Botón de Administrador */
  .role-button.administrator {
    background-color: #a12424; /* Azul */
    color: white;
  }
  
  .role-button.administrator:hover {
    background-color: #a12424; /* Azul más oscuro al pasar el mouse */
  }
  
  /* Botón de Empleado */
  .role-button.employee {
    background-color: #c27604; /* Verde */
    color: white;
  }
  
  .role-button.employee:hover {
    background-color: #c27604; /* Verde más oscuro al pasar el mouse */
  }

  /* Botón de Supervisor */
.role-button.supervisor {
  background-color: #2c3e50; /* Azul oscuro */
  color: white;
}

.role-button.supervisor:hover {
  background-color: #1a252f; /* Azul más oscuro al pasar el mouse */
}